# ====================================
# GLOBAL
# ====================================

# OS / IDE / Logs
.DS_Store
Thumbs.db
*.log
*.swp
*.swo
*.bak
*.tmp

# Node modules & packages
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# dotenv files (env vars)
.env
.env.*.local
.env.local

# Editor / IDE configs
.vscode/
.idea/
*.code-workspace

# ====================================
# SYMFONY (BACK)
# ====================================

/var/
/vendor/
/public/bundles/
/config/secrets/prod/prod.decrypt.private.php

# Symfony binary (if installed via symfony CLI)
.symfony/

# PHPUnit
/phpunit.xml
/phpunit.xml.dist
/.phpunit.result.cache

# Composer
composer.lock

# ====================================
# NEXT.JS (FRONT)
# ====================================

# Next.js build
.next/
/out/

# Production build
dist/

# Build cache
.cache/
.eslintcache
turbo/

# Static export files
export/

# ====================================
# MISC
# ====================================

# Yarn / pnpm / bun lockfiles (optional based on your package manager)
yarn.lock
pnpm-lock.yaml
bun.lockb
package-lock.json
